.btn-floating.add-fab {
    position: absolute;
    right: 7px;
    top: 13px;
}

.price {
    margin-right: 50px;
}

.add-category {
    position: absolute;
    left: 394px;
    top: 16px;
}

.add-category:hover {
    cursor: pointer;
}